/* CSS file */ 
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace calendar "hk.org.ha.service.app.util.calendar.*";

calendar|AbbDateField{
	skin: Embed(source="assets/icon.png");
	disabledSkin: ClassReference(null);
	downSkin: ClassReference(null);
	overSkin: ClassReference(null);
	upSkin: ClassReference(null); 

	dateChooserStyleName: "dateChooserStyle";
}

calendar|AbbDateChooser{
	holidayColor: #FF0000;
	headerStyleName: dateChooserHeaderStyle;
	todayColor: #B8E5FA;
	headerColors: #FFFFFF, #B8E5FA;
	
	selectionIndicatorSkin: ClassReference("assets.skins.AbbDateChooserSelectionIndicatorSkin");

}

.dateChooserHeaderStyle{
	color: #0F75BF;
	font-weight: bold;
}

calendar|AbbCalendarLayout
{
	prevOrNextMonthDayStyleName: "prevOrNextMonthDayStyle";

}

.prevOrNextMonthDayStyle
{
	border: true;
	color: #CCCCCC;
	fontStyle: "italic";
	/*fontWeight: "bold";*/
}