/*
////////////////////////////////////////////////////////////////////////////////
//
//  Color reference:
//	white : #FFFFFF
//  red : #FF0000, #FF5555
//	pink : #FBACEB
//	yellow : #FFBF81, #FFFF80, #FBFACA
//	green : #00FF00, #79FF79
//  blue : #0000FF, #A0D2F0, #9DFFFF
//  grey : #404040, ,#BCBCA9, #E7E5E5
//
//	Gender Color reference:
//	purple : #A000DF
//	blue : #48A3DF
//	red : #DA19AB
//	black : #000000
//
////////////////////////////////////////////////////////////////////////////////
*/

@namespace charts "mx.charts.chartClasses.*";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace mxair "mx.core.windowClasses.*";
@namespace olap "mx.controls.olapDataGridClasses.*";
@namespace s "library://ns.adobe.com/flex/spark";
@namespace i "hk.org.ha.fmk.pms.flex.components.core.*";

s|Application
{
	backgroundColor: #FFFFFF;
	skinClass: ClassReference("spark.skins.spark.ApplicationSkin");
}

s|BorderContainer
{
	backgroundColor: #FFFFFF;
	borderStyle : "solid"; 
	cornerRadius: 0;
	skinClass: ClassReference("spark.skins.spark.BorderContainerSkin");
}



i|LookupButton, i|LookupButton.emphasized
{
	backgroundColor : #F5F5F5;
	overBackgroundColor : #5AB8F2;
	skinClass: ClassReference("PmsLookupButtonSkin");
}

i|IconButton, i|IconButton.emphasized
{
	backgroundColor : #F5F5F5;
	overBackgroundColor : #5AB8F2;
	skinClass: ClassReference("PmsIconButtonSkin");
}

i|IconPanel
{
	titleBackgroundColor : #D0EAFA;
	backgroundColor: #FFFFFF;
	borderAlpha: 0.5;
	borderColor: 0;
	cornerRadius: 0;
	dropShadowVisible: false;
	borderVisible: true;
	skinClass: ClassReference("PmsIconPanelSkin");
}

i|HaFontTextInput
{
	fontSize : 14;
	fontFamily : "HA_MingLiu";
}

i|NumericInput 
{
	textAlign : right;
}

s|ButtonBar
{
	skinClass: ClassReference("spark.skins.spark.ButtonBarSkin");
}

s|CheckBox
{
	normalBackgroundColor : #FFFFFF;
	disabledBackgroundColor : #BCBCA9;
	skinClass: ClassReference("PmsCheckBoxSkin");
}

s|ComboBox
{
	dropShadowVisible: false;
	paddingBottom: 3;
	paddingLeft: 3;
	paddingRight: 3;
	paddingTop: 5;
	rollOverColor : #FFFFFF;
	contentBackgroundColor : #FFFFFF;
	disabledContentBackgroundColor : #E7E5E5;
	skinClass: ClassReference("PmsComboBoxSkin");
}

s|DropDownList
{
	dropShadowVisible: true;
	rollOverColor : #FFFFFF;
	normalBackgroundColor : #FFFFFF;
	skinClass: ClassReference("PmsDropDownListSkin");
}

s|HScrollBar
{
	skinClass: ClassReference("PmsHScrollBarSkin");
}

s|HSlider
{
	skinClass: ClassReference("spark.skins.spark.HSliderSkin");
}

s|List
{
	borderVisible: true;
	skinClass: ClassReference("spark.skins.spark.ListSkin");
	dragIndicatorClass: ClassReference("spark.components.supportClasses.ListItemDragProxy");
	dropIndicatorSkin: ClassReference("spark.skins.spark.ListDropIndicator");
}

s|MuteButton
{
	skinClass: ClassReference("spark.skins.spark.mediaClasses.normal.MuteButtonSkin");
}

s|NumericStepper
{
	skinClass: ClassReference("PmsNumericStepperSkin");
}

s|Panel
{
	titleBackgroundColor : #D0EAFA;
	backgroundColor: #FFFFFF;
	borderAlpha: 0.5;
	borderColor: 0;
	cornerRadius: 0;
	dropShadowVisible: false;
	borderVisible: true; 
	titleColor: #000000;
	skinClass: ClassReference("PmsPanelSkin");
}

.mpCheckExceptionIdentifiedPanelStyle
{
	titleBackgroundColor : #FF0000;
	titleColor : #FFFFFF;
}

s|RadioButton
{
	skinClass: ClassReference("PmsRadioButtonSkin");
}

s|Scroller
{
	skinClass: ClassReference("spark.skins.spark.ScrollerSkin");
}

s|ScrubBar
{
	skinClass: ClassReference("spark.skins.spark.mediaClasses.normal.ScrubBarSkin");
}

s|SkinnableDataContainer
{
	skinClass: ClassReference("spark.skins.spark.SkinnableDataContainerSkin");
}

s|SkinnableComponent
{
	errorSkin: ClassReference("spark.skins.spark.ErrorSkin");
	focusSkin: ClassReference("spark.skins.spark.FocusSkin");
}

s|SkinnableContainer
{
	skinClass: ClassReference("spark.skins.spark.SkinnableContainerSkin");
}

s|Spinner
{
	skinClass: ClassReference("spark.skins.spark.SpinnerSkin");    
}


s|TabBar
{
	skinClass: ClassReference("PmsTabBarSkin");
	cornerRadius: 4;
}

.drugCheckIssueTabBarStyle
{
	skinClass : ClassReference("PmsCheckNIssueTabBarSkin");
}

.itemCategoryStyle:alert,.dataGridNonEditableLabelStyle {
	background-color : #E7E5E5;
}

s|TextArea
{
	paddingBottom: 3;
	paddingLeft: 3;
	paddingRight: 3;
	paddingTop: 5;
	disabledBackgroundColor :#E7E5E5;
	skinClass: ClassReference("PmsTextAreaSkin");
}

.textAreaNonEditableStyle
{
	paddingBottom: 3;
	paddingLeft: 3;
	paddingRight: 3;
	paddingTop: 5;
	skinClass: ClassReference("PmsTextAreaSkinNonEditable");
}

s|TextInput
{
	paddingBottom: 3;
	paddingLeft: 3;
	paddingRight: 3;
	paddingTop: 5;
	borderVisible: true;
	disabledBackgroundColor : #E7E5E5;
	skinClass: ClassReference("PmsTextInputSkin");
}

.textInputNonEditableStyle
{
	normalBackgroundColor : #E7E5E5;
}

s|TitleWindow
{
	titleBackgroundColor : #D0EAFA;
	borderAlpha: 0.5;
	borderColor: 0;
	cornerRadius: 0;
	dropShadowVisible: false;
	skinClass: ClassReference("PmsTitleWindowSkin");
}

s|ToggleButton
{
	backgroundColor : #F5F5F5;
	selectedBackgroundColor : #AAAAAA;
	skinClass: ClassReference("PmsToggleButtonSkin");
}


s|VideoPlayer
{
	dropShadowVisible: true;
	layoutDirection: "ltr";
	skinClass: ClassReference("spark.skins.spark.VideoPlayerSkin");
}

s|VolumeBar
{
	skinClass: ClassReference("spark.skins.spark.mediaClasses.normal.VolumeBarSkin");
}

s|VScrollBar
{
	skinClass: ClassReference("PmsVScrollBarSkin");
}

s|VSlider
{
	skinClass: ClassReference("spark.skins.spark.VSliderSkin");
}

global
{
	font-size:12px;
	font-family:Arial;
	/* Looks */
	backgroundImageFillMode : "scale";
	chromeColor: #CCCCCC;
	borderVisible : true;
	borderWeight : 1;
	contentBackgroundColor: #FFFFFF;
	rollOverColor: #CEDBEF;
	focusColor: #70B2EE;
	symbolColor: #000000;
	fontLookup: "embeddedCFF";
	
	/* Behaviors */
	autoThumbVisibility: true;
	fixedThumbSize: false;
	fullScreenHideControlsDelay: 3000;
	horizontalScrollPolicy: "auto";
	liveDragging: true;
	rollOverOpenDelay: 200;
	slideDuration: 300;
	smoothScrolling: true;
	verticalScrollPolicy: "auto";
}

.alertBtnStyle
{
	backgroundColor : #F5F5F5;
	overBackgroundColor : #5AB8F2;
	skin: ClassReference("PmsButtonSkin");
	emphasizedSkin: ClassReference("PmsButtonSkin");
}

.alertTitleStyle
{
	skin: ClassReference("PmsAlertSkin");
}

mx|Alert
{
	buttonStyleName: alertBtnStyle;
	titleStyleName: alertTitleStyle;
	headerBackgroundSkin:ClassReference('PmsAlertSkin');
	header-colors : #FFFFFF, #8CE1E1;
	
}

mx|Button
{
	textFieldClass: ClassReference("mx.core.UIFTETextField");
	skin: ClassReference("PmsMxButtonSkin");
	
}


.vscrollBarStyles{
	thumbSkin: ClassReference("PmsVScrollBarThumbSkin");
	trackSkin: ClassReference("PmsVScrollBarTrackSkin");    
	upArrowSkin: ClassReference("PmsScrollBarUpButtonSkin");
	downArrowSkin: ClassReference("PmsScrollBarDownButtonSkin");
}

.hscrollBarStyles
{
	thumbSkin: ClassReference("PmsHScrollBarThumbSkin");
	trackSkin: ClassReference("PmsHScrollBarTrackSkin");    
	upArrowSkin: ClassReference("PmsScrollBarUpButtonSkin");
	downArrowSkin: ClassReference("PmsScrollBarDownButtonSkin");
}

.headerStyle
{
	color: #1A1A1A;
	text-align: left;
	verticalAlign: top;
}

.lookupHeaderStyle{
	color: #1A1A1A;
	text-align: left;
}


.dateFieldTextInputStyle
{
	borderSkin: ClassReference("PmsDateFieldSkin");
} 

mx|DateField
{
	textInputStyleName:dateFieldTextInputStyle;
}

.checkNIssueDateFieldPastStyle
{
	contentBackgroundColor : #9DFFFF;
}

.checkNIssueDateFieldNormalStyle
{
	contentBackgroundColor :#FFFFFF;
}

mx|MenuBar
{
	backgroundSkin: ClassReference('PmsMenuBarSkin');
	itemSkin:	ClassReference('PmsMenuBarItemSkin');
}


s|MXFTETextInput
{
	skinClass: ClassReference("spark.skins.spark.TextInputSkin");
}


mx|Panel
{
	titleBackgroundColor : #D0EAFA;
	textFieldClass: ClassReference("mx.core.UIFTETextField");
	borderSkin: ClassReference("PmsPanelBorderSkin");
	headerHeight: 22;
}



mx|ToolTip
{
	textFieldClass: ClassReference("mx.core.UIFTETextField");
	fontSize : 14;
	backgroundColor : #FCD5B4;
}

mx|AdvancedDataGrid
{
	defaultDataGridItemEditor: ClassReference("mx.controls.MXFTETextInput");
	defaultDataGridItemRenderer: ClassReference("mx.controls.advancedDataGridClasses.FTEAdvancedDataGridItemRenderer");
	alternating-item-colors: #eff3fa, #FFFFFF;
	horizontalScrollBarStyleName: hscrollBarStyles;
	verticalScrollBarStyleName: vscrollBarStyles;
	verticalGridLines : true;
	horizontalGridLines : true; 
	horizontalGridLineColor : #B7B7B7;
	verticalGridLineColor : #B7B7B7;
	alternating-item-colors : #FFFFFF, #FFFFFF;
	fontWeight : bold;
	headerColors : #F5F5F5, #F5F5F5;
	rollOverColor : #F5F5F5;
	useRollOver : false;
}

mx|AdvancedDataGridGroupItemRenderer
{
	fontWeight : bold;
	textFieldClass: ClassReference("mx.core.UIFTETextField");
}

mx|AdvancedDataGridHeaderRenderer
{
	textFieldClass: ClassReference("mx.core.UIFTETextField");
	horizontalAlign: left;
	verticalAlign: top;
	color : #000000;
	fontWeight : bold;
}

mx|FormItem
{
	borderColor: black;
	borderVisible: true;
}

mx|TabBar
{
	firstTabStyleName:	tabBarTab;
	tabStyleName:		tabBarTab;
	lastTabStyleName:	tabBarTab;
}

.tabBarTab
{
	skin: ClassReference('PmsTabSkin');	
}

.linkBtnStyles
{
	skin: ClassReference("PmsLinkButtonSkin");
}

mx|LinkBar
{
	linkButtonStyleName: linkBtnStyles;
	borderStyle : "solid";
	paddingTop: -2;
	paddingBottom: -2;
}

mx|Tree {
	useRollOver : false;
}

.errorTip {
	color: #FFFFFF;
	fontSize: 12;
	shadowColor: #000000;
	borderColor: #FF0000;
	borderStyle: "errorTipRight";
	paddingBottom: 4;
	paddingLeft: 4;
	paddingRight: 4;
	paddingTop: 4;
}

.errorDashboard {
	color : #FFFFFF;
	backgroundColor : #FF0000;
	borderVisible : true;
	cornerRadius : 2;
	fontWeight : bold;
}

.infoDashboard {
	color : #000000;
	backgroundColor : #FBFACA;
	borderVisible : true;
	cornerRadius : 2;
	fontWeight : bold;
}

.disclaimerStyle
{
	color:#FF0000;
	fontWeight:bold;
}

/* Orderline Style */
.orderlineListSfiStyle {
	backgroundColor : #FFBF81;
	contentBackgroundColor : #FFBF81;
}

.vettingMoUnselectStyle /* unselected order line in vetting list */
{
	backgroundColor : #BCBCA9;
}

.vettingPoSelectStyle /* selected pharmacy line in vetting list */
{
	backgroundColor : #FBFACA;
}

.regimenGridItemStyle { /* regimen grid in vetting list */ 
	paddingLeft   : 5;
	paddingRight  : 5;
	paddingTop    : 5;
	paddingBottom : 5;
	borderStyle : "solid";
}

.vettingCheckBoxStyle /* tick in vetting list */
{
	symbolColor : #FF0000;
}

/* patientComponent style*/
.genderBlankStyle
{
	fontWeight : bold;
	fontSize : 14;
	borderVisible : false;
}

.genderMaleStyle
{
	fontWeight : bold;
	backgroundColor : #48A3DF; 
	fontSize : 14;
	borderVisible : false;
}

.genderFemaleStyle
{
	fontWeight : bold;
	backgroundColor : #DA19AB; 
	fontSize : 14;
	borderVisible : false;
}

.genderUnknownStyle
{
	fontWeight : bold;
	backgroundColor : #A000DF; 
	fontSize : 14;
	borderVisible : false;
}

.genderCertifiedStyle
{
	fontWeight : bold;
	backgroundColor : #000000;
	color : #FFFFFF;
	fontSize : 14;
	borderVisible : false;
}

.patientNameChiStyle
{
	fontSize : 20;
	fontFamily : "HA_MingLiu";
}

.patientNameEngStyle
{
	fontSize : 19;
}

/* oneStopEntry style */
.precsListBtnStyle
{
	paddingBottom: 3;
	paddingLeft: 3;
	paddingRight: 3;
	paddingTop: 5;
	borderVisible: true;
	disabledBackgroundColor : #A0D2F0;
	skinClass: ClassReference("PmsTextInputSkin");
}

.suspendListBtnStyle
{
	paddingBottom: 3;
	paddingLeft: 3;
	paddingRight: 3;
	paddingTop: 5;
	borderVisible: true;
	disabledBackgroundColor : #FBACEB;
	skinClass: ClassReference("PmsTextInputSkin");
}

.pharmRemarkConfirmStyle
{
	color : #00FF00;
}


/*Drug Assemble View*/
.assemblingNormalPrescStyle
{
	fontSize : 230;
}

.assemblingItemAssembledStyle
{
	backgroundColor : #FF80FF;
}

.assemblingPrescWithRefillStyle
{
	textDecoration : underline;
	fontSize : 217;
}

.assemblingPrescAssembledCompleteStyle
{
	backgroundColor : #00FF00; 
}

.assemblingItemVettedStyle
{
	backgroundColor : #9DFFFF;
}

.assemblingSystemErrorStyle
{
	backgroundColor : #FFBF81;
}

.assemblingTicketNumUrgentPrintStyle
{
	color : #FF0000;
	fontSize : 217;
}

.assemblingMoeOrderUrgentPrintStyle
{
	backgroundColor : #FFFFFF;
	paddingLeft : 5;
	paddingRight : 5;
	paddingTop : 5;
	paddingBottom : 5;
	color : #FF0000;
	height : 55;
	fontSize : 70;
	fontWeight : normal;
}

.assemblingManualOrderUrgentPrintStyle
{
	backgroundColor : #E7E5E5;
	paddingLeft : 5;
	paddingRight : 5;
	paddingTop : 5;
	paddingBottom : 5;
	color : #FF0000;
	height : 55;
	fontSize : 70;
	fontWeight : normal;
}

.assemblingMoeOrderCheckListDispDateStyle
{
	backgroundColor : #FFFFFF;
	paddingLeft : 5;
	paddingRight : 5;
	paddingTop : 5;
	paddingBottom : 5;
	height : 55;
	fontSize : 30;
	fontWeight : normal;
}

.assemblingManualOrderCheckListDispDateStyle
{
	backgroundColor : #E7E5E5;
	paddingLeft : 5;
	paddingRight : 5;
	paddingTop : 5;
	paddingBottom : 5;
	height : 55;
	fontSize : 30;
	fontWeight : normal;
}

.assemblingMoeOrderCheckListTicketNumStyle
{
	backgroundColor : #FFFFFF;
	paddingLeft : 5;
	paddingRight : 5;
	paddingTop : 5;
	paddingBottom : 5;
	height : 55;
	fontSize : 70;
	fontWeight : normal;
}

.assemblingManualOrderCheckListTicketNumStyle
{
	backgroundColor : #E7E5E5;
	paddingLeft : 5;
	paddingRight : 5;
	paddingTop : 5;
	paddingBottom : 5;
	height : 55;
	fontSize : 70;
	fontWeight : normal;
}

.assemblingNormalPrescStyleWithoutCheckList
{
	fontSize : 402;
}

.assemblingPrescWithRefillStyleWithoutCheckList
{
	textDecoration : underline;
	fontSize : 382;
}

.assemblingTicketNumUrgentPrintStyleWithoutCheckList
{
	color : #FF0000;
	fontSize : 382;
}

.assemblingFastQueueItemSuspendStyle
{
	backgroundColor : #FFFF80;
	borderColor : #FF00FF;
	borderWeight : 20;
}

.assemblingFastQueueItemDeletedStyle
{
	backgroundColor : #FF5555;
	borderColor : #FF00FF;
	borderWeight : 20;
}

.assemblingFastQueueBorderContainerStyle
{
	borderColor : #FF00FF;
	borderWeight : 20;
}

.assemblingFastQueueItemAssembledStyle
{
	backgroundColor : #FF80FF;
	borderColor : #FF00FF;
	borderWeight : 20;
}

.assemblingFastQueuePrescWithRefillStyle
{
	textDecoration : underline;
	fontSize : 202;
}

.assemblingFastQueuePrescAssembledCompleteStyle
{
	backgroundColor : #00FF00; 
	borderColor : #FF00FF;
	borderWeight : 20;
}

.assemblingFastQueueItemVettedStyle
{
	backgroundColor : #9DFFFF;
	borderColor : #FF00FF;
	borderWeight : 20;
}

.assemblingFastQueueSystemErrorStyle
{
	backgroundColor : #FFBF81;
	borderColor : #FF00FF;
	borderWeight : 20;
}

.assemblingFastQueueTicketNumUrgentPrintStyle
{
	color : #FF0000;
	fontSize : 202;
}

.assemblingFastQueuePrescWithRefillStyleWithoutCheckList
{
	textDecoration : underline;
	fontSize : 347;
}

.assemblingFastQueueTicketNumUrgentPrintStyleWithoutCheckList
{
	color : #FF0000;
	fontSize : 347;
}

.assemblingFastQueueNormalPrescStyle
{
	fontSize : 210;
}

.assemblingFastQueueNormalPrescStyleWithoutCheckList
{
	fontSize : 380;
}

/*Order Edit*/
.vettingMoEditStyle
{
	backgroundColor : #A0D2F0;
	borderVisible : false;
	contentBackgroundColor : #A0D2F0;
	selectionColor : #A0D2F0;
}

.vettingPoEditStyle
{
	backgroundColor : #FBFACA;
	borderVisible : false;
	contentBackgroundColor : #FBFACA;
	selectionColor : #FBFACA;
	focusThickness : 0;
}

.orderNonEditableComponentStyle
{
	contentBackgroundColor : #E7E5E5;
	disabledContentBackgroundColor : #E7E5E5;
	backgroundColor : #E7E5E5;
}

.formInputDisabledStyle
{
	editable : false;
	disabledBackgroundColor : #E7E5E5;
}

.formInputEnabledStyle
{
	editable : false;
	disabledBackgroundColor : #FFFF80;
}

.dayOfWeekBtnStyle 
{
	selectedBackgroundColor : #FF0000; 
}

.minDosagePopupTextAreaStyle {
	fontWeight:bold;
	fontSize:16;
	borderVisible:false;
}

.vettingPoDrugLineStyle
{
	contentBackgroundColor : #FFFF80;
	backgroundColor : #FBFACA;
	borderVisible : false;
}

s|Button.mealTimeBtnUnmatchStyle
{
	fontStyle  : italic;
	fillColors : #FFFF80, #FFFF80;
	fontWeight : bold;
	skinClass  : ClassReference("PmsMxButtonSkin");
}

s|Button.mealTimeBtnNormalStyle
{
	fontStyle  : normal;
	fontWeight : bold;
	skinClass  : ClassReference("PmsMxButtonSkin");
}


.poEditFirstHeaderStyle
{
	backgroundColor : #C0DCC0;
	borderVisible : false;
	fontWeight : bold;
}

.poEditSecondHeaderStyle
{
	backgroundColor : #9EC594;
	borderVisible : false;
	fontWeight : bold;
}

/* check & issue style */

.checkissueDocListButtonStyle
{
	backgroundColor : #FFFF80;
	overBackgroundColor : #FFFF80;
}

.checkissueWindowNumTextInputStyle 
{
	fontSize : 18;
}

.checkissueListCurrentOrderTicketLabelStyle{
	backgroundColor : #A8C6EE;
}

/* MDS Style */
.mdsAlertTitleStyle
{
	fontWeight      : bold;
	color           : #FFFFFF;
	backgroundColor : #FF0000;
	fontSize        : 14;
	verticalAlign   : middle;
	paddingLeft     : 3;
	paddingRight    : 3;
	paddingTop      : 3;
	paddingBottom   : 3;
}

.mdsAlertSubTitleStyle {
	fontWeight     : bold;
	textDecoration : underline;
	color          : #0000FF;
}

.alertOverrideBtnStyle {
	color       : #FFFFFF;
	chromeColor : #FF0000;
}

/* order edit - CAPD */
.capdDisclaimerStyle
{
	contentBackgroundColor : #A0D2F0;
	backgroundColor : #A0D2F0;
	fontWeight : bold;
	color : #FF0000;
	verticalAlign : middle;
	fontSize : 16;
}

/* CAPD Voucher Splitting Popup */
.dispQtyTextInputStyle
{
	paddingBottom: 3;
	paddingLeft: 3;
	paddingRight: 3;
	paddingTop: 5;
	borderVisible: true;
	normalBackgroundColor : #FBACEB;
	disabledBackgroundColor : #FBACEB;
	skinClass: ClassReference("PmsTextInputSkin");
}

.prevRefNumStyle {
	backgroundColor : #FFFF80;
	fontWeight : bold;
	fontSize : 16;
}

/* Pharmacy Remark Style */
.pharmRemarkComboBoxStyle
{
	dropShadowVisible: false;
	paddingBottom: 3;
	paddingLeft: 3;
	paddingRight: 3;
	paddingTop: 5;
	color : #FF0000;
	contentBackgroundColor : #FFFF80;
	disabledContentBackgroundColor : #FFFF80;
	skinClass: ClassReference("PmsComboBoxSkin");
}

.pharmRemarkComboBoxDisabledStyle
{
	contentBackgroundColor : #E7E5E5;
	disabledContentBackgroundColor : #E7E5E5;
}

.pharmRemarkTextInputStyle
{
	paddingBottom: 3;
	paddingLeft: 3;
	paddingRight: 3;
	paddingTop: 5;
	borderVisible: true;
	color : #FF0000;
	normalBackgroundColor : #FFFF80;
	disabledBackgroundColor : #FFFF80;
	skinClass: ClassReference("PmsTextInputSkin");
}


.pharmRemarkTextAreaStyle
{
	paddingBottom: 3;
	paddingLeft: 3;
	paddingRight: 3;
	paddingTop: 5;
	color : #FF0000;
	normalBackgroundColor : #FFFF80;
	disabledBackgroundColor :#FFFF80;
	skinClass: ClassReference("PmsTextAreaSkin");
}

.pharmRemarkCheckBoxStyle
{
	disabledBackgroundColor : #FFFF80;
	symbolColor:#FF0000;
	skinClass: ClassReference("PmsCheckBoxSkin");
}

.pharmRemarkDropDownListStyle
{
	dropShadowVisible: true;
	color : #FF0000;
	disabledBackgroundColor :  #FFFF80;
	skinClass: ClassReference("PmsDropDownListPharmRemarkSkin");
}
.pharmRemarkDropDownListNormalStyle
{
	skinClass: ClassReference("PmsOrderEditDropDownListSkin");
}
/*Reprint & Refill Style*/
.refillMismatchStyle 
{
	backgroundColor : #FFFF80;
	paddingLeft: 3;
	paddingRight: 3;
}

.reprintOrderDeleteStyle
{
	font-weight: bold;
	font-size: 40;
}

.drugSearchPanelSelectStyle {
	titleBackgroundColor : #FFFF80;
}

/*Invoice*/
.invoiceStatusVoidStyle
{
	color:red;
}

.vettingMpMoStyle {
	selection-color : #A0D2F0;
	alternating-item-colors : #BCBCA9, #BCBCA9;
}

.vettingMpMoStyle:selected {
	alternating-item-colors : #A0D2F0, #A0D2F0;
}

.vettingMpPoStyle {
	alternating-item-colors : #E7E5E5, #E7E5E5;
}

.preVetMatchedItemStyle {
	alternating-item-colors : #A8C6EE, #A8C6EE;
}

.vettingMpRuleStyle {
	stroke-width : 1; 
	stroke-color : #404040;
}

.vettingMpInvisibleRuleStyle {
	stroke-width : 0; 
}

.vettingMpCheckBoxStyle {
	symbol-color : #A000DF;
	skinClass: ClassReference("PmsVettingMpCheckBoxSkin");
}


.routeBoxStyle, .formBoxStyle
{
	rollOverColor : #FFFFFF;
}

.mpSendOutViewCurrentBatchNumBorderContainerPurpleStyle
{
	background-color : #A000DF;
}

.mpSendOutViewCurrentBatchNumBorderContainerAquaStyle
{
	background-color : #9DFFFF;
}

.fmIndicationStyle 
{
	alternating-item-colors : #FFFFFF, #E7E5E5;
}

.stepUpDownBaselineStyle {
	color : #0000FF;
}

.drugTitleBaselineStyle {
	color : #404040;
}

.pharmItemBaselineStyle {
	color : #000000;
}

.getAListMoStyle {
	selection-color : #BCBCA9;
	alternating-item-colors : #BCBCA9, #BCBCA9;
}

.getAListMoStyle:selected {
	alternating-item-colors : #BCBCA9, #BCBCA9;
}

.overdueHeaderStyle {
	color : #000000;
	background-color : #E7E5E5;
}

.overdueColumnStyle:alert {
	color : #FFFFFF;
	background-color : #FF0000;
}

.forecastColumnStyle:alert {
	color : #404040;
	background-color : #FFFF80;
}

.moDrugNameStyle
{
	contentBackgroundColor : #FFFF80;
	backgroundColor : #FFFF80;
	fontWeight : bold;
	color : #0000FF;
	verticalAlign : middle;
	fontSize : 16;
}

.pharmRemarkMoDrugNameStyle
{
	contentBackgroundColor : #FFFF80;
	backgroundColor : #FFFF80;
	fontWeight : bold;
	color : #FF0000;
	verticalAlign : middle;
	fontSize : 16;
}

.reviewedLabelStyle
{
	backgroundColor : #79FF79;
	color : #ffffff;
}

.modifiedOrderLabelStyle
{
	backgroundColor : #794BA6;
	color : #ffffff;
}

.inactiveModifiedOrderLabelStyle
{
	backgroundColor : #696969;
	color : #ffffff;
}

.mpSfiActionStatusLabelStyle
{
	backgroundColor : #FFFFFF;
	color : #006E00;
	borderColor : #006E00;
}

.mpSfiActionStatusLabelWithPrStyle
{
	backgroundColor : #006E00;
	color : #FFFFFF;
	borderColor : #006E00;
}

.drugOnHandPostDispCommentStyle 
{
	color : #804000;
}

.pharmRemarkPostDispCommentStyle 
{
	color : #804000;
	fontWeight : bold;
}

.footNoteLabelStyle
{
	font-size : 11px;
	fontStyle : italic;
	fontWeight : bold;
}



.edsModeHeaderStyle {
	fontWeight : bold;
	backgroundColor : #79FF79;
}

.pmsModeHeaderStyle {
	fontWeight : bold;
	backgroundColor : #FFFF80;
}

.specialLabelContentStyle {
	fontFamily : "DFKai-SB";
	fontSize : 16;
	fontWeight : normal;
}

.orderOutstandingComponentStyle
{
	contentBackgroundColor : #FFFF80;
	backgroundColor : #FBFACA;
}

.disabledRollOverStyle
{
	rollOverColor : #FFFFFF;
}


.specialInstructionStyle {
	borderVisible : false;
	disabledBackgroundColor : #FFFFFF;
}

.propListTypeBorderStyle {
	borderColor : #82B5E4;
	borderWeight : 2;
}

.pharmRemarkNoOldItemStyle{
	fontSize: 28;
	fontWeight: normal;
}

.pharmRemarkTemplateListStyle{
	rollOverColor : #E7E5E5;
	contentBackgroundColor : #E7E5E5;
}

.sfiDrugAmountUnselectFontStyle
{
	color: #a69e9e;
	fontWeight: bold;
}

.normalButtonStyle {
	skin-class : ClassReference("spark.skins.spark.ButtonBarFirstButtonSkin");
}

.pharmRemarkNoNewItemStyle
{
	fontSize: 32;
	fontWeight: normal;
}

.orderEditDropDownStyle
{
	normalBackgroundColor :  #FFFFFF;
	contentBackgroundColor : #FFFFFF;
	backgroundColor : #FFFFFF;
	disableBackgroundColor : #E7E5E5;
	skinClass: ClassReference("PmsOrderEditDropDownListSkin");
} 

.orderEditDropDownFocusStyle
{
	normalBackgroundColor : #A8C6EE;
	contentBackgroundColor : #FFFFFF;
	backgroundColor : #FFFFFF;
	disableBackgroundColor : #E7E5E5;
	skinClass: ClassReference("PmsOrderEditDropDownListSkin");
} 

.pharmInboxFindPatientDataGridStyle  
{
	content-background-color : #EEEEEE;
	alternating-item-colors : #EEEEEE, #EEEEEE;
}

.pharmInboxExceptionDataGridStyle  
{
	content-background-color : #FFE1FA;
	alternating-item-colors : #FFE1FA, #FFE1FA;
}


.newTabStyle {
	skin-class : ClassReference("PmsInboxTabBarButtonSkin");
	selected-background-color : #DAF1F7;
}

.verifyTabStyle {
	skin-class : ClassReference("PmsInboxTabBarButtonSkin");
	selected-background-color : #EDF9C9;
}

.findPatientTabStyle {
	skin-class : ClassReference("PmsInboxTabBarButtonSkin");
	selected-background-color : #EEEEEE;
}

.errorTabStyle {
	skin-class : ClassReference("PmsInboxTabBarButtonSkin");
	selected-background-color : #FFE1FA;
}		

.historyTabStyle {
	skin-class : ClassReference("PmsInboxTabBarButtonSkin");
	selected-background-color : #FFF3DB;
}		

.cancelDischargeTabStyle {
	skin-class : ClassReference("PmsInboxTabBarButtonSkin");
	selected-background-color : #FCE6D9;
}

.dischargeMedOrderTabStyle {
	skin-class : ClassReference("PmsInboxTabBarButtonSkin");
	selected-background-color : #FFFFB9;
}

.normalButtonStyle {
	skin-class : ClassReference("PmsButtonBarFirstButtonSkin");
}

.urgentButtonStyle {
	skin-class : ClassReference("PmsButtonBarMiddleButtonSkin");
}

.urgentButtonAlertStyle {
	skin-class : ClassReference("PmsButtonBarMiddleButtonSkin");
	font-weight : bold;
	color : #0000FF;
}

.pendingSuspendButtonStyle {
	skin-class : ClassReference("PmsButtonBarMiddleButtonSkin");
}

.pendingSuspendButtonAlertStyle {
	skin-class : ClassReference("PmsButtonBarMiddleButtonSkin");
	font-weight : bold;
	color : #0000FF;
}

.filterButtonStyle {
	skin-class : ClassReference("PmsButtonBarLastButtonSkin");
}

.normalButtonStyle:upAndSelected,.normalButtonStyle:overAndSelected, .normalButtonStyle:downAndSelected {
	selectedBackgroundColor: #8dd6d4;
	font-weight : bold;
}

.urgentButtonStyle:upAndSelected,  .urgentButtonStyle:downAndSelected,
.urgentButtonAlertStyle:upAndSelected,  .urgentButtonAlertStyle:downAndSelected,
.urgentButtonStyle:overAndSelected,.urgentButtonAlertStyle:overAndSelected{
	selectedBackgroundColor: #F58086;
	font-weight : bold;
}

.pendingSuspendButtonStyle:upAndSelected,  .pendingSuspendButtonStyle:downAndSelected,
.pendingSuspendButtonAlertStyle:upAndSelected, 
.pendingSuspendButtonAlertStyle:downAndSelected,
.pendingSuspendButtonAlertStyle:overAndSelected,.pendingSuspendButtonStyle:overAndSelected{
	selectedBackgroundColor : #efde52;
	font-weight : bold;
}

.filterButtonStyle:upAndSelected, .filterButtonStyle:overAndSelected, .filterButtonStyle:downAndSelected {
	selectedBackgroundColor: #B1EE59;
	font-weight : bold;
}

.richEditableTextDisableStyle
{
	backgroundColor:#E7E5E5;
}

.iPItemEditPOIComponentStyle
{
	font-weight: bold;
}
.iPItemEditDoseComponentStyle
{
	contentBackgroundColor : #FFFFFF;
	disabledContentBackgroundColor: #E7E5E5;
	backgroundColor : #FFFFFF;
	font-weight: bold;
}

.orderListEndStyle , .activeProfileConfirmLabelStyle 
{
	fontSize: 16;
	fontWeight:bold;
}

.activeProfileConfirmAlertLabelStyle
{
	color: #FF0000;
	font-weight: bold;
}


.checkissueListIssueWindowNumStyle, .drugSearchDosageTypePaedStyle,
.drugPickSuspendItemStyle, .assignBatchWardCodeStyle,.assemblingItemSuspendStyle,.refillStatusSuspendStyle,
.moGroupGapStyle, .mpSfiInvoiceChargeQtyEditableStyle
{
	backgroundColor : #FFFF80;
}


.refillStatusBeingProcessStyle, .drugSearchDosageTypeCommonStyle, .mpSendOutViewCurrentBatchNumBorderContainerGreenStyle
{
	backgroundColor : #79FF79; 
}

#login, s|Button, s|Button.emphasized
{ 
	backgroundColor : #F5F5F5; 
	overBackgroundColor : #5AB8F2;
	skinClass: ClassReference("PmsButtonSkin");
} 

i|ExtendedDataGrid,mx|DataGrid {
	borderVisible: true;
	defaultDataGridItemEditor: ClassReference("mx.controls.MXFTETextInput");
	defaultDataGridItemRenderer: ClassReference("mx.controls.dataGridClasses.FTEDataGridItemRenderer");
	horizontalScrollBarStyleName: hscrollBarStyles;
	verticalScrollBarStyleName: vscrollBarStyles;
	headerBackgroundSkin:ClassReference('PmsDataGridHeaderBackgroundSkin');
	headerStyleName: headerStyle;
	verticalGridLines : true;
	horizontalGridLines : true; 
	horizontalGridLineColor : #B7B7B7;
	verticalGridLineColor : #B7B7B7;
	alternating-item-colors : #FFFFFF, #FFFFFF;
	fontWeight : bold;
	useRollOver : false;
}

mx|AlertForm, mx|CalendarLayout, mx|DateChooser, mx|Label, mx|ListItemRenderer, 
mx|MenuBarItem, mx|MenuItemRenderer, mx|ProgressBar, mx|TileListItemRenderer, mx|TreeItemRenderer, 
mx|AdvancedDataGridSortItemRenderer, mxair|StatusBar, mxair|TitleBar, charts|ChartLabel, charts|DataTip, 
charts|DualStyleObject, charts|Series, mx|LegendItem, olap|OLAPDataGridGroupRenderer
{
	textFieldClass: ClassReference("mx.core.UIFTETextField");
}

mx|ColorPicker, mx|ComboBox, mx|NumericStepper
{
	textFieldClass: ClassReference("mx.core.UIFTETextField");
	textInputClass: ClassReference("mx.controls.MXFTETextInput");
}

mx|List, mx|SwatchPanel
{
	textInputClass: ClassReference("mx.controls.MXFTETextInput");
}

s|RichEditableText, s|TextBase, s|VideoDisplay
{
	layoutDirection: "ltr";
}

s|FTEAdvancedDataGridItemRenderer, s|FTEDataGridItemRenderer
{
	paddingLeft: 5 /* to match AdvancedDataGridItemRenderer in the MX defaults.css */
}

.vettingMoSelectStyle, .vettingMpMoEditStyle, .drugSearchDosageTypeAdultStyle, .checkissueListPastDispDateStyle
{
	backgroundColor : #A0D2F0;
}

.moTextInputStyle, .poTextInputStyle
{
	contentBackgroundColor : #FFFFFF;
	backgroundColor : #FFFFFF;
}

.orderEditableComponentStyle
{
	contentBackgroundColor : #FFFFFF;
	disabledContentBackgroundColor: #E7E5E5;
	backgroundColor : #FFFFFF;
}

.qtyDropDownFocusedStyle
{
	normalBackgroundColor : #A8C6EE;
	contentBackgroundColor : #FFFFFF;
	backgroundColor : #FFFFFF;
}


.doseConverComboFocusedStyle
{
	skinClass: ClassReference("PmsComboBoxFocusSkin");
	contentBackgroundColor :  #A8C6EE;
	backgroundColor : #FFFFFF;
}
.doseConverComboNormalStyle
{
	skinClass: ClassReference("PmsComboBoxFocusSkin");
	contentBackgroundColor : #FFFFFF;
	backgroundColor : #FFFFFF;
}

.checkissueListManualOrderTicketNumStyle, .vettingPoUnselectStyle
{
	backgroundColor : #E7E5E5;
}

.orderViewTabStyle, .toDoListStyle 
{
	borderVisible : false;
}

.drugPickScriptProStyle, .dispQtyLabelStyle
{
	backgroundColor : #FBACEB;
}

.pharmRemarkStyle, .drugOnHandPharmRemarkStyle, .pharmRemarkLabelStyle 
{
	color : #FF0000;
}

.drugCheckLabelStyle, .alertOverrideLabelStyle, .alertDuplicateStyle, .checkissueListUrgentFlagStyle
{
	fontWeight : bold;
	color : #FF0000;
}

.orderEditHeaderTextSelectStyle, .operationProfileSelectedStyle, .alertWarningStyle, .followUpWarningHdrStyle, .qtyDurationOtherWorkstoreHdrStyle
{
	fontWeight : bold;
	color      : #0000FF;
}

.moButtonFocusStyle
{
	color      : #0000FF;
	fontWeight : normal;
}

.mdsAlertContentStyle, .boldTextStyle
{
	fontWeight:bold;
}

.normalFontWeightStyle
{
	fontWeight:normal;
}

.pharmInboxStatDataGridStyle:NewNormal, .pharmInboxStatDataGridStyle:NewUrgent,
.pharmInboxStatDataGridStyle:NewPendingSuspend, .pharmInboxStatDataGridStyle:NewAll
{
	alternating-item-colors : #DAF1F7, #DAF1F7;
	content-background-color : #DAF1F7;
}

.pharmInboxStatDataGridStyle:VerifyNormal, .pharmInboxStatDataGridStyle:VerifyUrgent,
.pharmInboxStatDataGridStyle:VerifyPendingSuspend, .pharmInboxStatDataGridStyle:VerifyAll
{
	alternating-item-colors : #EDF9C9, #EDF9C9;
	content-background-color : #EDF9C9;
}

.pharmInboxHistoryDataGridStyle
{
	alternating-item-colors : #FFF3DB, #FFF3DB;
	content-background-color : #FFF3DB;
}

.pharmInboxCancelDischargeDataGridStyle
{
	alternating-item-colors : #FCE6D9, #FCE6D9;
	content-background-color : #FCE6D9;
}

.pharmInboxDischargeMedOrderDataGridStyle
{
	alternating-item-colors : #FFFFB9, #FFFFB9;
	content-background-color : #FFFFB9;
}

.vettingMpPoStyle:selected, .vettingPoSelectedStyle 
{
	alternating-item-colors : #FBFACA, #FBFACA;
}

.getAListPoStyle, .getAListPoStyle:selected
{
	alternating-item-colors : #FFFFFF, #FFFFFF;
}

.assemblingItemDeletedStyle, .mpSendOutViewCurrentBatchNumBorderContainerRedStyle
{
	backgroundColor : #FF5555;
}

.checkissueListMoeOrderTicketNumStyle, .mpSendOutViewCurrentBatchNumBorderContainerNoColorStyle
{
	backgroundColor : #FFFFFF;
}

.mpCheckKeepRecordDayEndProcessStyle,.mpUnlinkDeleteDayEndProcessStyle
{
	background-color: #BCBCA9;
}

.refillNonEditDisconLabelStyle
{
	background-color: #E7E5E5;
	color : #FF0000;
}
/* remove style @pms-pms 3.2.2 version */
.orderAmendmentHistoryStatusStyle
{
	color : #0000FF;
	textDecoration : underline;
}

.specMapDropDownSuspendStyle
{
	background-color : #E7E5E5;
	alternating-item-colors : #E7E5E5;
	rollOverColor : #E7E5E5;
}

.specMapDropDownNormalStyle
{
	background-color : #FFFFFF;
	alternating-item-colors : #FFFFFF;
	rollOverColor : #FFFFFF;
}

.renalCalcButtonStyle {
	chromeColor : blue;
	color : white;
}

/*MedProfileDashBoard*/
.dashboardNewPanelStyle {
	background-color: #4193E4;
	color: #FFFFFF;
	font-size: 50;
}

.dashboardVerifyPanelStyle {
	background-color: #6AA84F;
	color: #FFFFFF;
	font-size: 50;
}

.dashboardOthersPanelStyle {
	background-color: #FFFFFF;
	color: #000000;
	font-size: 28;
}

.dashboardSubCategoryStyle {
	font-size: 28;
}

.dashboardNormalLabelStyle:alert {
	color: #FFFFFF;
}

.dashboardNormalLabelStyle {
	color: #808080;
}

.dashboardAlertLabelStyle:alert {
	color: #A80015;
}

.dashboardAlertLabelStyle {
	color: #808080;
}

.dashboardOthersCategoryLabelStyle:alert {
	color: #000000;
}

.dashboardOthersCategoryLabelStyle {
	color: #808080;
}

.dashboardNewPanelStyle {
	background-color: #4193E4;
	border-color: #000000;
	color: #FFFFFF;
}

.dashboardVerifyPanelStyle {
	background-color: #6AA84F;
	border-color: #000000;
	color: #FFFFFF;
}

.dashboardOthersPanelStyle {
	background-color: #FFFFFF;
	border-color: #FF7F27;
	color: #000000;
}

.dashboardSubCategoryStyle {
	background-alpha: 0;
	border-color: #000000;
}

.textAlignRightStyle {
	text-align : right;
}

.pivasFormulaConcDiffLabelStyle {
	color:#FF0000;
}