<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:s="http://jboss.com/products/seam/taglib">

<html>
    <head>
        <title>Document Service</title>
        <script language="JavaScript" type="text/javascript">			
			function onLoad() {
				document.getElementById('loginForm:btnSubmit').click();
			}
		</script>
    </head>
    <body onload="onLoad()">
	<h:form id="loginForm">
		<h:commandLink id="btnSubmit"
			action="#{rptService.generateOperationRpt}" />
	</h:form>
	<font color="#333333" style="font-size: 20px;"> <u><b>ASP Report Generation</b></u> </font>
	<br></br>
	<br></br>
	<p>The system is generating the report. Only close this browser when the report generation is completed, or otherwise the process will be aborted.</p>
	<p>Thank you.</p>
	<br></br>
	<hr></hr>
		<div align="right">
			<h:commandButton id="btnClose" value="Close" onclick="window.close()"/>
		</div>
    </body>
</html>
</ui:composition>
